<script type="text/javascript">

  $(document).ready(function() {

    $('#div_vendor_select').hide();

    $('#user_select').on('change', function() {
      console.log("changing to user: " + $(this).val() );
      location.href='/user/'+$(this).val();
    });


    $('#toggle_list').on('click', function() {
      var user_id  = getID($('[id^=current_user_]'));
      var postData = { list: true, user: user_id, item_id: user_id };

      $.ajax({
        url: "<%= api_toggle_vendor_url %>",
        type: 'POST',
        dataType: 'json',
        data: postData,
        success: function(result) { 
          location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown)  {
          var msg = "* Could not update list; " + errorThrown
          console.log(msg);
          $('#err_msg').text(msg);
        }
      });
    });

    $('[id^=toggle_vendor_]').on('click', function() { 
      var wellist_id = getID(this);
      var user_id    = getID($('[id^=current_user_]'));
      var postData   = { list: false, user: user_id, item_id: wellist_id };

      $.ajax({
        url: "<%= api_toggle_vendor_url %>",
        type: 'POST',
        dataType: 'json',
        data: postData,
        success: function(result) { 
          location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown)  {
          var msg = "* Could not update list; " + errorThrown
          console.log(msg);
          $('#err_msg').text(msg);
        }
      });
    });

    $('[id^=remove_vendor_]').on('click', function() { 
      var wellist_id = getID(this);
      var postData   = { wellist_id: wellist_id }

      if ( confirm( "Are you sure you want to delete this vendor from your Wellist?") ) {
        $.ajax({
          url: "<%= api_remove_vendor_url %>",
          type: 'DELETE',
          dataType: 'json',
          data: postData,
          success: function(result) { 
            location.reload();
          },
          error: function (jqXHR, textStatus, errorThrown)  {
            var msg = "* Could not delete vendor; " + errorThrown
            console.log(msg);
            $('#err_msg').text(msg);
          }
        });
      }
    });

    $('#add_vendor').on('click', function() { 
      $('#div_vendor_select').show();
      return false;
    });


    $('#vendor_select').on('change', function() { 
      var vendor_id = $('#vendor_select').val();
      var user_id    = getID($('[id^=current_user_]'));
      var postData  = { user_id: user_id, vendor_id: vendor_id }

      $.ajax({
        url: "<%= api_add_vendor_url %>",
        type: 'POST',
        dataType: 'json',
        data: postData,
        success: function(result) { 
          location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown)  {
          var msg = "* Could not add vendor to Wellist; " + errorThrown
          console.log(msg);
          $('#err_msg').text(msg);
        }
      });

    });
    
    function getID(that) {
      var tmp        = $(that).attr('id');
      var match      = /^\w+_(\d+)$/.exec(tmp);
      return RegExp.$1;
    }

  });
  

</script>

In lieu of user login...
<select id='user_select'>
<option>Select user</option>
  <% @users.each do |u| %>  
    <option value="<%= u.id %>"><%= u.fullname %></option>
  <% end %>
</select>

<% if @my_wellist.present? %>
  <h2>My Wellist </h2>
  <label>Name: </label><span id="current_user_<%= @my_wellist[0].user.id%>" style='padding-left: 5px;'><%= @my_wellist[0].user.fullname %></span><br />
  <label>Email: </label><span style='padding-left: 5px;'><%= @my_wellist[0].user.email %></span><br />
  <label id='status'>Wellist Status: </label> <span id='wellist_status' style='padding-left: 5px;'><%= @my_wellist[0].public_list == true ? 'PUBLIC' : 'PRIVATE' %></span>
  <a href='#' id='toggle_list'>Toggle</a>

  <div style='margin: 20px;'>
    <table id='table_my_wellist'>
      <thead>
        <tr> <th>Vendor Name</th>   <th>Category</th>   <th>Care Type</th>   <th>Care Sub Type</th>  <th>Status</th>  <th></th>    </tr>
      </thead>

      <tbody>
        <% @my_wellist.each do |w| %>
          <tr>  
            <td><%= w.vendor.name %></td>
            <td><%= w.vendor.category.name %></td>
            <td><%= w.vendor.care_type.name %></td>
            <td><%= w.vendor.care_sub_type.name %></td> 
            <td><%= w.public_vendor ? 'Public' : 'Private' %></td> 
            <td><a href='#' id='toggle_vendor_<%= w.id %>'>Toggle</a> <a href='#' id='remove_vendor_<%= w.id %>'>remove</a> 
          </tr>
        <% end %>
      </tbody>
    </table>
    <div style='margin: 10px 0px 50px 0px;'>
      <a href='#' id='add_vendor'>Add Vendor</a><br />
      <div id='div_vendor_select' style='margin-top: 10px;'>
        <select id='vendor_select'>
          <option>Select vendor</option>
            <% @vendors.each do |v| %>  
              <option value="<%= v.id %>"><%= "#{v.category.name} - #{v.name}, #{v.address}, #{v.city}, #{v.state}, #{v.zip} "%></option>
            <% end %>
        </select>
      </div>
      
    </div>
  </div>
<% end %>




<h1>Public Wellists</h1>
<div>
  <table id='table_public_wellist'>
    <thead>
      <tr> <th>User</th> <th>Email</th> <th>Vendor Name</th>   <th>Category</th>   <th>Care Type</th>   <th>Care Sub Type</th>    </tr>
    </thead>

    <tbody>
        <% @public_wellist.each do |w| %>
          <tr>  
            <td><%= w.user.fullname %></td>
            <td><%= w.user.email %></td>
            <td><%= w.vendor.name %></td>
            <td><%= w.vendor.category.name %></td>
            <td><%= w.vendor.care_type.name %></td>
            <td><%= w.vendor.care_sub_type.name %></td> 
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
